<button id="newBlog">Add New Blog</button>
{{>blog}}

 {{!-- {{#each userPosts as |user| }} --}}
   <div class="card">
    <div class="card-header">
     {{userPosts.name}}'s Postings
    </div>
   <div class="card-body">
     <h2>{{userPosts.title}}</h2>
       <p>{{userPosts.blog.body}}</p>
       <footer class="blockquote-footer">{{userPosts.createdAt}}</footer>
   </div>
   <div class="card-header">{{userPosts.name}}'s Comments</div>
   <p>*{{userPosts.comments.0.comment}}*</p>
   <footer>{{userPosts.comments.0.createdAt}}</footer>
   </div>

   {{!-- {{/each}} --}}

<script src="/js/blog1.js"></script>
